@page
@model OurFirstApp_skinsinger.Pages.Employees.IndexModel
@{

}

<h1>Employees</h1>
<h2>This will be the home of a future list of current employees.</h2>
<h3>This is more filler text.</h3>
<p> I have not yet used github to submit an assignment, I don't know if I should've and overlooked it. I guess I will find 
    out when I receive my grade for my last two assignments. Howevere I am going to use GitHub this time, and will update with my 
    opinion later.'</p>